# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# Data files
*.csv
*.tsv
*.json
*.xlsx
*.db

# Model files
*.h5
*.pkl
*.joblib
*.sav

# Environment variables
.env

# IDE/editor config
.vscode/
.DS_Store
Thumbs.db
